/* TODO: Is this body font right?  */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  /* border: red;
  border-style: solid;
  border-width: 1px; */
  background-color: #505050;
  font-family: "Koulen", sans-serif;
}

:root {
  --brand-color: #eec82f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.headlineContainer {
  display: flex;
  align-items: center;
  text-align: center;
}

.headline {
  width: 35%;
  margin: 50px auto;
  border: none;
  height: 8px;
  background-color: var(--brand-color);
  opacity: 1;
}

h2 {
  color: var(--brand-color) !important;
}

.masonry-columns {
  column-count: 3;
  column-gap: 1rem;
  width: 90%;
  margin: 0 auto;
}

.masonry-item {
  break-inside: avoid;
  width: 100%;
  margin-bottom: 1rem;
  cursor: pointer;
}

.masonry-item .thumbnail {
  width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
  text-decoration: underline;
}

ul {
  list-style: none;
}

/* .carousel-indicators {
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  padding: 5px 0;
}

.carousel-indicators button {
  display: inline-block;
  margin: 0 2px;
} */
